<?xml version="1.0" encoding="UTF-8"?>
<web-app>  
<servlet>
		<servlet-name>Log4JTestServlet</servlet-name>
		<servlet-class>test.Log4JTestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Log4JInitServlet</servlet-name>
		<servlet-class>test.Log4JInitServlet</servlet-class>
		<init-param>
			<param-name>log4j-properties-location</param-name>
			<param-value>WEB-INF/log4j.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Log4JTestServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
  <welcome-file-list>  
   <welcome-file>index.html</welcome-file>  
  </welcome-file-list>  
</web-app>  